*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.responsive {
  width: 38vw;
}

.product-info-h1 {
  padding: 50px 0;
  font-weight: 600;
  text-align: center;
}

.product-info-p {
  margin: 0 0 20px;
  line-height: 1.5;
  font-size: 16px;
}

.product-info-main {
  width: 1100px;
  padding: 50px;
  margin: 0 auto;
  background: #fff;
}

.product-info-section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.product-info-input {
  display: none;
}

.product-info-label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  font-size: 17px;
  border: 1px solid transparent;
}

.product-info-label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.product-info-label[for*='1']:before {
  content: '\f1cb';
}

.product-info-label[for*='2']:before {
  content: '\f17d';
}

.product-info-label[for*='3']:before {
  content: '\f16b';
}

.product-info-label[for*='4']:before {
  content: '\f1a9';
}

.product-info-label:hover {
  color: #888;
  cursor: pointer;
}

.product-info-input:checked+.product-info-label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

#tab1:checked~#content1, #tab2:checked~#content2, #tab3:checked~#content3, #tab4:checked~#content4 {
  display: block;
}

.vp600 {
  visibility: hidden;
}

.block.product .sub {
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@@media screen and (max-width: 600px) {
  .vp600 {
    display: unset;
  }
  .responsive {
    display: none;
  }
  .vp600-product-info-p {
    margin: 2%;
  }
  .shopify-payment-button .shopify-payment-button__button {
    border-radius: 2px;
    overflow: hidden;
    height: 47px;
    width: 100% !important;
  }
  .with-payment-button .add-to-cart {
    display: block;
    margin-top: 10px;
    width: 100% !important;
    height: 47px;
  }
  .spacey-row {
    text-align: left;
    margin-left: 26px !important;
    font-size: 23px;
    margin-top: 16%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  ...
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  ...
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  ...
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  ...
}
