h1, .h1 {
  font-size:160%;
  margin:1.2em 0;

/* h1 font change temporary */
    color: #333333;
    font-size: 33px;
}
.product-font{
font-size: 16px;
}
.product-description{
    margin-bottom: 15px;
    font-family: helvetica,arial,sans-serif;
    letter-spacing: 0.04rem;
    color: #707070;
  padding-top: -12px;
}

.pd{
/*   font-family: helvetica,arial,sans-serif;
  color: rgb(28, 26, 26); */
    font-family: helvetica,arial,sans-serif;
    color: #1c1a1a;
    font-weight: lighter;
    padding-top: -14px;
    margin-bottom: 21px;
}
